 .menu-item1 {
    height: 240px;
    border: 0.5px solid rgb(229, 199, 199);
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .menu-item1:hover {
    cursor: pointer;
  }

  .menu-item1:hover .background-image1 {
    background-size: cover;
    transform: scale(1.1);
    transition: transform 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .menu-item1:hover .content1{
    margin-top: 150px ;
    opacity: 0.7;
    text-align: center;
  }

  .menu-item1.large1:hover .content1{
    margin-top: 285px ;
    opacity: 0.7;
  }

  .menu-item1.large1 {
    height: 380px;
  }
  
  .menu-item1:first-child {
    margin-right: 7.5px;
  }
  
  .menu-item1:last-child {
    margin-left: 7.5px;
  }
  
    .content1 {
      display: inline-flex;
      margin: 11px 0px;
      padding: 0 25px;
      align-items: center;
      text-align: center;
      opacity: 0.75;
      display: block;
      flex-direction: column;
      justify-content: center;
      border:0px solid white;
      background: linear-gradient(
          to right,
          rgb(205, 202, 202) 100%,
          rgb(241, 250, 249) 0%
          
      )
  }
      .title1 {
        font-weight: bolder;
        margin-top: 20px;
        font-size: 22px;
        color: #201818;
      }
  
     .subtitle1 {
        font-weight: lighter;
        font-size: 17px;
      }
    
  .background-image1 {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
  } 

  .title2{
    font-family: "Henny Penny, cursive";
    font-size: large;
  }