.menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    overflow: hidden;
  }

  .menu-item:hover {
    cursor: pointer;
  }

  .menu-item:hover .background-image {
    background-size: cover;
    transform: scale(1.1);
    transition: transform 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .menu-item:hover .content{
    margin-top: 150px ;
    opacity: 0.7;
    text-align: center;
  }

  .menu-item.large:hover .content{
    margin-top: 285px ;
    opacity: 0.7;
  }

  .menu-item.large {
    height: 380px;
  }
  
  .menu-item:first-child {
    margin-right: 7.5px;
  }
  
  .menu-item:last-child {
    margin-left: 7.5px;
  }
  
    .content {
      display: inline-flex;
      margin: 11px 0px;
      padding: 0 25px;
      align-items: center;
      opacity: 0.7;
      display: block;
      flex-direction: column;
      justify-content: center;
      border:0px solid white;
      background: linear-gradient(
          to right,
          rgb(104, 103, 103) 0%,
          rgb(255, 255, 255) 100%
          
      )
  }
      .title {
        font-weight: bolder;
        margin-top: 20px;
        font-size: 22px;
        color: #201818;
      }
  
     .subtitle {
        font-weight: lighter;
        font-size: 17px;
      }
    
  .background-image {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
  }