.header {
    height: 5rem;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 25px;
}
    .logo-container {
      height: 100%;
      width: 70px;
    }
    .logo-container:hover {
        transform: scale(1.1);
    }

    .options {
      width: 28%;
      height: 100%;
      justify-content: flex-end;
    }
    .option {
      font-size: 18px;
      padding: 10px 15px;
      cursor: pointer;
    }
    .option:hover{
      transform: scale(1.1);
      color: rgb(139, 100, 0);
    }

.tit {
    text-align: center;
    margin-left: 245px;
    font-size: 21px;
    font-family: 'Henny Penny', cursive;
    color: rgb(179, 34, 109);
}

.sup{
  border: 1px solid rgb(230, 25, 110);
  background-color: rgb(230, 25, 110);
  color:white;
  border-radius: 45%;
  padding: 2px;
  background-position: center;
}